body {
  font-family: "Outfit", sans-serif;
  background-image: url(../img/bg.jpg);
  height: 100vh;
  /* settare altezza*/
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}

h2 {
  font-size: 35px;
  color: #c2128d;
  font-weight: bolder;
  padding-bottom: 2%;
}

#logo {
  height: 5vh;
  padding-bottom: 3%;
  padding-left: 8%;
  padding-top: 3%;
}

#title {
  font-family: "Outfit", sans-serif;
  font-size: 80px;
  width: 30%;
  line-height: 0.8em;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 8%;
}

#content {
  width: 50%;
  padding-bottom: 4%;
  padding-left: 1%;
  line-height: 1.2em;
  padding-left: 8%;
}

.bold {
  font-weight: bolder;
}

#list {
  padding-left: 10%;
  line-height: 1.5em;
  padding-bottom: 6%;
}

/*Verificare check-box*/

#footer-welcome {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 12%;
  padding-left: 6.5%;
}

#proceed:hover {
  -webkit-box-shadow: 5px 0px 28px 1px #00ffff;
  -moz-box-shadow: 5px 0px 28px 1px #00ffff;
  -o-box-shadow: 5px 0px 28px 1px #00ffff;
  box-shadow: 5px 0px 28px 1px #00ffff;
}

label {
  font-weight: bold;
  padding-left: 2%;
  width: 100%;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  display: block;
  margin: 0.2em;
}

input[type="checkbox"] + label:before {
  content: "\2714";
  border: 0.2em solid white;
  display: inline-block;
  width: 1em;
  height: 1em;
  padding: 0.2em;
  margin: 0.2em;
  vertical-align: center;
  color: transparent;
}

input[type="checkbox"]:checked + label:before {
  color: white;
}

#button {
  height: 40px;
  font-size: 1em;
  color: #0b113b;
  font-weight: bold;
  border: 1px;
  padding: 10px 40px;
  background-color: #00ffff;
  cursor: pointer;
}

/* CSS PAGINA 2 (Question Page)*/

#questionHeader {
  display: flex;
  justify-content: space-between;
  padding-right: 8%;
}

/*timer*/

#remaining {
  position: relative;
  top: -50px;
  left: 18px;
  font-size: 12px;
}

#seconds {
  position: relative;
  top: -75px;
  left: 22px;
  font-size: 12px;
}

#app {
  margin-top: 60px;
}

.base-timer {
  position: relative;
  width: 100px;
  height: 100px;
}

.base-timer__svg {
  transform: scaleX(-1);
}

.base-timer__circle {
  fill: none;
  stroke: none;
}

.base-timer__path-elapsed {
  stroke-width: 7px;
  stroke: transparent;
}

.base-timer__path-remaining {
  stroke-width: 7px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: currentColor;
}

.base-timer__path-remaining.green {
  color: #00ffff;
}

.base-timer__label {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

#quiz {
  text-align: center;
  margin-top: 5em;
}

#question {
  padding-bottom: 8%;
  font-family: "Outfit", sans-serif;
  font-size: 60px;
  padding-left: 8%;
  padding-right: 8%;
}

#choices-box {
  padding-left: 2%;
  padding-right: 4%;
  padding-bottom: 2%;
  width: 50%;
  text-align: center;
  padding-left: 25%;
}

.choice {
  height: 50px;
  width: 200px;
  font-size: 1em;
  color: white;
  font-weight: bold;
  border: 2px solid rgba(255, 255, 255, 0.164);
  border-radius: 50px;
  padding: 10px 40px;
  background-color: #ffffff22;
  box-shadow: -1px -1px 0px 1px white;
  width: 40vh;
  margin-left: 5%;
  vertical-align: baseline-middle;
  margin-bottom: 2%;
}

.choice:hover {
  cursor: pointer;
  background: linear-gradient(
    180deg,
    rgb(206, 6, 183) 0%,
    35%,
    rgb(135, 2, 115) 100%
  );
  transform: scale(1.02);
  transform: transform 100ms;
}

#footer-quiz {
  text-align: center;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 14px;
  padding-top: 10%;
}

#pink {
  color: #c2128d;
}

/******style.css/results*************/

#mainResults {
  height: 55vh;
  text-align: center;
  padding-bottom: 5%;
}

#divHeader p {
  font-size: 2em;
}

#container-result {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4%;
  justify-content: space-evenly;
  padding-bottom: 3%;
}

.p1 {
  font-weight: bold;
  padding-bottom: 2%;
}

.p2wrong {
  font-weight: bold;
  color: #c2128d;
}

.p2correct {
  font-weight: bold;
  color: #00ffff;
}

.p3 {
  font-size: 10px;
  padding-top: 10%;
}

#inside_canvas {
  text-align: center;
  position: fixed;
  width: 150px;
  height: 100px;
  max-width: 150px;
  min-width: 100px;
}

.graphic {
  display: flex;
  justify-content: center;
  align-items: center;
}

.h1 {
  font-size: 3em;
  font-weight: bolder;
}

#footerResults {
  text-align: center;
}

#mainResults h1 {
  text-align: center;
}

#total-number {
  font-weight: bold;
  color: blue;
}

#success-rate {
  font-weight: bold;
  font-size: 40px;
}

#failure-rate {
  font-weight: bold;
  font-size: 40px;
}

.firstP {
  font-size: 40px;
}

#numAnswersCorrect {
  font-size: 15px;
}

#numAnswersWrong {
  font-size: 15px;
}

#footerResults {
  padding-top: 4%;
  height: 2%;
}

#anchorFooter {
  border: 2px solid white;
  color: white;
  font-size: 1em;
  padding: 0.7em 3.5em;
  text-decoration: none;
  box-shadow: 5px 0px 28px 1px #00ffff18;
}

#anchorFooter:hover {
  box-shadow: 5px 0px 28px 1px #00ffff74;
}

/*CSS PAGINA 4 (Review Page)*/

#container-commit {
  padding-top: 3%;
}

.mainReg02 {
  padding: 3%;
  text-align: center;
}

#comment {
  border-bottom: 1px solid #d0408db3;
  border-top: black;
  border-left: black;
  border-right: black;
  width: 50em;
  color: white;
  background-color: transparent;
  margin-top: 20px;
  margin-bottom: 50px;
}

.pReview {
  font-size: 22px;
  text-align: center;
}

#title2 {
  font-size: 60px;
  padding-bottom: 20px;
}

#footer-review {
  display: flex;
  justify-content: center;
  padding-bottom: 5%;
}

.star {
  width: 40px;
  height: 40px;
  cursor: pointer;
  padding-left: 0.8%;
}

.star.selected {
  content: url("../img/star.svg");
}

#rating {
  padding-top: 2%;
  padding-bottom: 5%;
}

/*CSS doughnut chart */
